@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body {
    margin: 0;
    padding: 50px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(70deg, #192a56, #273c75);
}

.container {
    background: #fff;
    height: 600px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
}

.login {
    width: 50%;
    margin: 0 auto;
}
.title {
    width: 250px;
    margin: 0 auto;
}

.form {
    /*border: 1px solid red;*/
    margin: 0 auto;
    width: 300px;
}

.form-element {
    margin: 40px 5px;

}
.form-element .form-input {
    border: 3px solid #000;
    border-radius: 12px;
    padding: 5px;
    width: 275px;
    height: 35px;
    font-size: 25px;
    font-family: Tahoma;
}

.name {
    position: relative;
    top: 10px;
    left: 8px;
    z-index: 1;
    background: #fff;
}

.decor {
    width: 50%;
    background-color: bisque;
    border-radius: 0 15px 15px 0;
}

.button-validate {
    width: 300px;
    height: 50px;
    font-size: 22px;
    background: linear-gradient(#192a56, #273c75);
    color: #fff;
    border: none;
    border-radius: 25px;
}

.home-logo {
    display: block;
    margin: 0 auto;
    padding: 30px;
}
